HappyCode.Management.App/.vs/
HappyCode.Management.App/HappyCode.Management.App/obj/
HappyCode.Management.App/HappyCode.Management.App/bin/
HappyCode.Management.App/HappyCode.Management.Core/obj/
HappyCode.Management.App/HappyCode.Management.Core/bin/